{% extends "b"ase.html" %}

{% block main %}
    <div>
        <h1>Secure Page</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ullamcorper turpis nunc, et dictum nulla porta ac. Morbi cursus commodo ligula, ac tristique odio varius at. 
            Morbi convallis faucibus tortor, et pretium arcu volutpat quis. Duis scelerisque ac augue id viverra. Praesent pellentesque est in dictum tempor. 
            Mauris porta nibh venenatis dignissim posuere. Nulla vitae volutpat nisl. Donec volutpat lorem in dolor mattis, et lobortis ipsum maximus. 
            Pellentesque vel augue a nulla tincidunt sollicitudin. Integer sed nisl sodales, dignissim ipsum sed, vehicula lorem. Maecenas a nulla a tellus consectetur viverra. 
            Mauris sollicitudin accumsan bibendum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. 
            Vestibulum iaculis elit sollicitudin, aliquet augue eget, condimentum nisl. Nullam in dictum enim.</p>
    </div>
{% endblock %}